{% extends 'base.html.twig' %}

{% block title %}Hello PresentationController!{% endblock %}

{% block body %}
<link rel="stylesheet" href="assets/presentation.css">
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h4>Des Karts pour toutes tailles et toutes morphologies sont disponibles !</h4>
    <h4>Des Snacks sont disponibles sur place pour seulement 2€50 !</h4>

    {% for pres in prestts %}
        <div class="pres">
            <div class="image"></div>
            <div class="texte">
                <h3>{{pres.libelle}}</h3>
                <p>{{pres.description}}</p>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <form method="post" action="{{ path('app_presentation_suppression', {'id': pres.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette presentation ?');">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pres.id) }}">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
                <form method="post" action="{{ path('app_presentation_modif', {'id': pres.id}) }}">
                    <input type="hidden" name="_token" value="{{ csrf_token('update' ~ pres.id) }}">
                    <button type="submit" class="btn btn-danger">Modifier</button>
                </form>
            {% endif %}
        </div>
    {% endfor %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_presentation_add') }}"><button>Ajouter une Présentation</button></a>
    {% endif %}
</div>
{% endblock %}
